
# Virtual environments
venv/

__pycache__/
.cache

# IDEs and editors
.vscode/
.DS_Store
.idea/
*.swp

# Raw data
blackhole_spectra/
backend/data/raw_data/blackhole_spectra/
backend/data/raw_data/blackhole_spectra.tar.gz

# Dev DB stuff
migrations/
fixtures/
db.sqlite3
