astropy==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
Django==1.11.23
django-configurations==2.0
idna==2.5
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
nbformat==4.3.0
numpy==1.13.1
plotly==2.0.14
py==1.4.34
pytest==3.2.1
pytz==2017.2
requests==2.18.3
six==1.10.0
traitlets==4.3.2
urllib3==1.22
